---
import {
  getLangFromUrl,
  getTranslatedLink,
  useTranslations,
} from "src/i18n/utils";
import MainHeaderLogotype from "./Logotype.astro";
import NavigationPanel from "./NavigationPanel.astro";
import NavigationPanelMobile from "./NavigationPanelMobile.astro";
import SearchPanel from "./SearchPanel.astro";

const lang = getLangFromUrl(Astro.url);
const navigationPanelSv = [
  { dataId: "1.575942", href: "/anstallning", label: "Din anställning" },
  { dataId: "1.575949", href: "/stod-och-service", label: "Stöd och service" },
  { dataId: "1.1067969", href: "/utbildning", label: "Utbilda" },
  { dataId: "1.1067196", href: "/forskning", label: "Forska" },
  {
    dataId: "1.575952",
    href: "/styrning",
    label: "Orgasnisation och styrning",
  },
];
const navigationPanelEn = [
  { dataId: "1.575942", href: "/en/anstallning", label: "My employment" },
  {
    dataId: "1.575949",
    href: "/en/stod-och-service",
    label: "Support & Service",
  },
  { dataId: "1.1069791", href: "/en/utbildning", label: "Education" },
  { dataId: "1.1067508", href: "/en/forskning", label: "Research" },
  {
    dataId: "1.575952",
    href: "/en/styrning",
    label: "Organisation & Regulations",
  },
];

const translatedLink = getTranslatedLink(Astro.url);
const t = useTranslations(lang);
const navigationPanel = lang === "sv" ? navigationPanelSv : navigationPanelEn;
---

<header class="kth-header intranet">
  <div class="kth-header__container">
    <MainHeaderLogotype alt={t("nav.go-home")} />
    <nav class="kth-mega-menu">
      <ul>
        {
          navigationPanel.map(({ dataId, href, label }) => (
            <li>
              <NavigationPanel dataId={dataId} href={href} label={label} />
            </li>
          ))
        }
      </ul>
    </nav>

    <ul class="kth-header__tools">
      <li>
        <SearchPanel />
      </li>
      <li>
        <a
          href={translatedLink.path}
          lang={translatedLink.lang}
          class="kth-menu-item language"
        >
          <span>{translatedLink.label}</span>
        </a>
      </li>
    </ul>
    <button class="kth-menu-item menu collapsable">
      <span>{t("nav.menu")}</span>
    </button>

    <nav class="kth-mega-menu--collapsable">
      <NavigationPanelMobile navigationPanel={navigationPanel} />
    </nav>
  </div>
</header>

<script>
  import { MenuPanel } from "@kth/style";

  // Set navigationPanels only to non-mobile versions
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-mega-menu .kth-menu-item"),
  );
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-menu-item.search"),
  );

  MenuPanel.initModal(
    document.querySelector(".kth-menu-item.collapsable"),
    document.querySelector(".kth-mobile-menu"),
  );

  MenuPanel.initModals(
    document.querySelectorAll(".kth-mobile-menu__item"),
    document.querySelector(".kth-mobile-menu"),
  );
</script>
