---
import {
  getLangFromUrl,
  getTranslatedLink,
  useTranslations,
} from "src/i18n/utils";
import MainHeaderLogotype from "./Logotype.astro";
import NavigationPanel from "./NavigationPanel.astro";
import NavigationPanelMobile from "./NavigationPanelMobile.astro";
import SearchPanel from "./SearchPanel.astro";

const lang = getLangFromUrl(Astro.url);
const navigationPanel = [
  {
    dataId: "1.575942",
    href: {
      en: "/en/anstallning",
      sv: "/anstallning",
    },
    labels: {
      en: "My employment",
      sv: "Din anställning",
    },
  },
  {
    dataId: "1.575949",
    href: {
      en: "/en/stod-och-service",
      sv: "/stod-och-service",
    },
    labels: {
      en: "Support & Service",
      sv: "Stöd och service",
    },
  },
  {
    dataId: "1.1067969",
    href: {
      en: "/en/utbildning",
      sv: "/utbildning",
    },
    labels: {
      en: "Education",
      sv: "Utbilda",
    },
  },
  {
    dataId: "1.1067196",
    href: {
      en: "/en/forskning",
      sv: "/forskning",
    },
    labels: {
      en: "Research",
      sv: "Forska",
    },
  },
  {
    dataId: "1.575952",
    href: {
      en: "/en/styrning",
      sv: "/styrning",
    },
    labels: {
      en: "Organisation & Regulations",
      sv: "Orgasnisation och styrning",
    },
  },
];

const translatedLink = getTranslatedLink(Astro.url);
const t = useTranslations(lang);
---

<header class="kth-header intranet">
  <div class="kth-header__container">
    <MainHeaderLogotype alt={t("nav.go-home")} />
    <nav class="kth-mega-menu">
      <ul>
        {
          navigationPanel.map(({ dataId, labels }) => (
            <li>
              <NavigationPanel dataId={dataId} label={labels[lang]} />
            </li>
          ))
        }
      </ul>
    </nav>

    <ul class="kth-header__tools">
      <li>
        <SearchPanel />
      </li>
      <li>
        <a
          href={translatedLink.path}
          lang={translatedLink.lang}
          class="kth-menu-item language"
        >
          <span>{translatedLink.label}</span>
        </a>
      </li>
    </ul>
    <button class="kth-menu-item menu collapsable">
      <span>{t("nav.menu")}</span>
    </button>
    <nav class="kth-mega-menu--collapsable">
      <dialog class="kth-menu-panel--modal">
        <!-- -->
        <button class="kth-button close">
          <span class="kth-visually-hidden">{t("close")}</span>
        </button>
        <div class="kth-menu-panel__content">
          <h2>{t("nav.menu")}</h2>
          <ul>
            {
              navigationPanel.map(({ labels, href, dataId }) => (
                <li>
                  <a href={href[lang]}>{labels[lang]}</a>
                </li>
              ))
            }
          </ul>

          <ul class="kth-menu-panel__entries">
            <li><a href="https://kth.se">kth.se</a></li>
            <li>
              <a href="https://kth.se/student">{t("sites.student-web")}</a>
            </li>
            <li>
              <a href="https://intra.kth.se">{t("sites.intranet")}</a>
            </li>
          </ul>
        </div>
      </dialog>
    </nav>
  </div>
</header>

<script>
  import { MenuPanel } from "@kth/style";

  // Set navigationPanels only to non-mobile versions
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-mega-menu .kth-menu-item"),
  );
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-menu-item.search"),
  );

  MenuPanel.initModal(
    document.querySelector(".kth-menu-item.collapsable"),
    document.querySelector(".kth-menu-panel--modal"),
  );
</script>
