---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import NavigationPanelMobileDetails from "./NavigationPanelMobileDetails.astro";

const lang = getLangFromUrl(Astro.url);

interface Props {
  navigationPanel: {
    dataId: string;
    href: string;
    label: string;
  }[];
}

const { navigationPanel } = Astro.props;

const t = useTranslations(lang);
---

<>
  <dialog class="kth-mobile-menu">
    <div class="kth-mobile-menu__navigation">
      <button class="kth-icon-button close">
        <span class="kth-visually-hidden">{t("close")}</span>
      </button>
    </div>
    <div class="kth-mobile-menu__content">
      <ul class="kth-mobile-menu__items">
        {
          navigationPanel.map(({ label, href, dataId }) => (
            <li>
              <button data-id={dataId} class="kth-mobile-menu__item">
                {label}
              </button>
            </li>
          ))
        }
      </ul>
    </div>
  </dialog>
  {
    navigationPanel.map(({ label, href, dataId }) => (
      <NavigationPanelMobileDetails dataId={dataId} label={label} href={href} />
    ))
  }
</>
