---
import ExamplePage from "@layouts/ExamplePage.astro";
import "@kth/style/scss/components/fieldset.scss";
import "@kth/style/scss/components/checkbox.scss";

const cssCode = `
@use "@kth/style/scss/components/fieldset.scss";
@use "@kth/style/scss/components/checkbox.scss";
`;

export function getStaticPaths() {
  const TYPES = ["radio", "checkbox"];

  return TYPES.map((type) => ({
    params: {
      type,
    },
  }));
}

const type = Astro.params.type as "radio" | "checkbox";
const htmlCode = `
<fieldset class="kth-fieldset">
  <legend>What option do you want to choose</legend>
  <p class="kth-fieldset__description">Select all that apply</p>
  <div class="kth-fieldset__options">
    <div class="kth-fieldset__option">
      <input type=${type} id="option-1" name="example" value="option-1" />
      <label for="option-1">Option 1</label>
    </div>
    <div class="kth-fieldset__option">
      <input type=${type} id="option-2" name="example" value="option-2" />
      <label for="option-2">Option 2</label>
    </div>
    <div class="kth-fieldset__option">
      <input type=${type} id="option-3" name="example" value="option-3" />
      <label for="option-3">Option 3</label>
    </div>
  </div>
</fieldset>`;
---

<ExamplePage cssCode={cssCode} htmlCode={htmlCode} set:html={htmlCode} />
